*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/luckybit
src/luckybitd
src/luckybit-cli
src/luckybit-tx
src/test/test_luckybit
src/qt/test/test_luckybit-qt
src/bench/bench_luckybit

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
.luckybit
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Unit-tests
Makefile.test
luckybit-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_luckybit.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests_config.py
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
qa/tmp
cache/
share/BitcoindComparisonTool.jar

!src/leveldb*/Makefile

.cproject
.project
.autotools
/doc/doxygen/

libbitcoinconsensus.pc
src/qt/luckybit-qt.bash
qa/pull-tester/tests-config.sh

#development symlinks
luckybit-cli
luckybitd
luckybit-qt
